@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: hsl(218, 100%, 98%);
}

.inter-boldtittle {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.raleway-banner-des {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/*----Banner----*/
.banner {
    background-image: url("../Assets/Hero-bg.png");
    width: 100%;
    height: 650px;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 10%;
    align-items: center;
    padding: 2% 10%;
}

.logo {
    font-size: 2.2em;
    font-weight: 900;
}

.secondary_color {
    color: #4E47FF;
}

.btn {
    color: #FFFFFF;
    font-size: 18px;
    background-color: #4E47FF;
    padding: 10px 30px;
    border: 2px solid #4E47FF;
    border-radius: 7%;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color: #1e1a83;
    border: 2px solid #1e1a83;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    align-items: center;
    font-weight: 400;
}

.banner-des {
    font-weight: bold;
    font-size: 65px;
    text-align: center;
}
/*----main----*/
main section{
    margin: 6% 15%;
}
/*----Action----*/
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.secondary-text-color{
    color: rgba(37, 36, 50, 0.5);
}
.action-title{
    font-size: 3em;
    font-weight: bold;
}
.action-des{
    font-size: 1.5em;
}
.action img{
    width: 400px;
    height: 330px;
    border-radius: 15%;
}
/*----productive_user----*/
.productive_user{
    padding: 2% 5%;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 2%;
    font-size: 1.2em;
    
}
.user-title{
    padding: 5%;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
}
.users{
    display: flex;
    justify-content: space-around;
}
.user-item-title{
    margin: 0;
    font-weight: bold;
    font-size: 4em;
}
/*----Reviews----*/
.review-title{
    font-size: 2.8em;
    font-weight: bold;
    text-align: center;
}
.reviews{
    margin-top: 5%;
    display: flex;
    gap:2%
}
.account{
    background-color: #ffffff;
    border-radius: 5%;
    padding: 1.8%;
    border: 1px solid hsl(218, 19%, 92%);;
}
.star{
    display: flex;
}
.accout-id{
    display: flex;
    align-items: center;
    gap: 2%;
}
.avater_image{
    border-radius: 50%;
}
span{
    font-weight: bold;
}